body {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    font-family: arial;
    font-size: 1.2rem;
}
h1 {
    text-align: center;
    font-size: 3.4rem;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
}
h3 {
    text-align: center;
    font-size: 1.5rem;
}
.scrollable_container {
    overflow: auto;
    border: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.conditions_grid_item {
    text-align: center;
}
.hourly_forecast_temperature_text {
    font-size: 2rem;
}
.semi_daily_forecast_temperature_text {
    font-size: 2rem;
}
.semi_daily_forecast_period_container {
    display: grid;
    grid-template-columns: auto auto;
}
.semi_daily_forecast_weather_data_container {
    text-align: right;
    padding-right: 20px;
}
.hourly_forecast_period_container {
    display: grid;
    grid-template-columns: auto auto;
}
.hourly_forecast_weather_data_container {
    text-align: right;
    padding-right: 20px;
}
.error_message {
    text-align: center;
    color: red;
}
#current_temperature_and_description_container {
    text-align: center;
}
#current_description_text {
    font-size: 1.5rem;
}
#current_temperature_text {
    font-size: 3rem;
}
#hourly_forecast_data_container {
    height: 400px;
}
#semi_daily_forecast_data_container {
    height: 400px;
}
#conditions_grid {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.2rem;
}
#location_text {
    text-align: center;
}
#current_description_text {
    text-align: center;
}
#current_temperature_text {
    text-align: center;
}
#footer {
    text-align: center;
}
